body {
    /* background-image: url('https://damion.club/uploads/posts/2022-01/thumbs/1642244741_3-damion-club-p-fitnes-fon-3.jpg'); */
    background-color: rgb(213, 254, 255);
    background-size: 160% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  