.banner {
    height: 600px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
  }
  
  .banner-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    color: white;
  }
  
  .banner-content h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
  }
  
  .banner-content p {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .btn {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    background-color: #ec6c5e;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .btn:hover {
    background-color: #d7473e;
  }